
.notif{
  margin-top: 20px;
  margin-left: 800px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

.notif .notif_body{
   display: flex;
}

.notif .notif_body img{
  width: 35px;
}

.notif .notif_body .icon_wrap{
  cursor: pointer;
}

.notif .notif_body .notifications{
  margin-right: 25px;
}

.notif .notif_body .notifications .icon_wrap{
  font-size: 28px;
}

.notif .notif_body .notifications{
  position: relative;
}

.notification_dd{
  position: absolute;
  top: 48px;
  right: -15px;
  user-select: none;
  background: #fff;
  border: 1px solid #c7d8e2;
  width: 350px;
  height: auto;
  display: none;
  border-radius: 3px;
  box-shadow: 10px 10px 35px rgba(0,0,0,0.125),
              -10px -10px 35px rgba(0,0,0,0.125);
}

.notification_dd:before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_icon{
  display: flex;
}

.notification_dd li .notify_icon .icon{
  display: inline-block;
	width: 40px;
	height: 42px;
}

.notification_dd li .notify_data{
  margin: 0 15px;
  width: 270px;
}

.notification_dd li .notify_data .title{
  color: #696969;
  font-weight: 600;
}

.notification_dd li .notify_data .sub_title{
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}


.notification_dd li.show_all{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.notification_dd li.show_all p{
  font-weight: 700;
  color: #3b80f9;
  cursor: pointer;
}

.notification_dd li.show_all p:hover{
  text-decoration: underline;
}

.notif .notif_body .profile .icon_wrap{
  display: flex;
  align-items: center;
}

.notif .notif_body .profile .name{
  display: inline-block;
  margin: 0 10px;
}

.notif .notif_body .icon_wrap:hover,
.notif .notif_body .profile.active .icon_wrap,
.notif .notif_body .notifications.active .icon_wrap{
  color: #3b80f9;
} 

.notif .notifications.active .notification_dd{
  display: block;
}
